<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>


      <ion-tab-button>

      </ion-tab-button>

    <ion-tab-button tab="">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-fab horizontal="center" vertical="bottom">
      <ion-fab-button color="primary" >
            <ion-icon name="arrow-dropup" mode="ios" size="large" style="color: white"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="primary" (click)="buttonClicked('chest')">
          <ion-img src="assets/chest.png"></ion-img>
        </ion-fab-button>
        <ion-fab-button color="primary" (click)="buttonClicked('back')">
          <ion-img src="assets/lats.png"></ion-img>
        </ion-fab-button>
        <ion-fab-button color="primary" (click)="buttonClicked('legs')">
          <ion-img src="assets/legs.png"></ion-img>
        </ion-fab-button>
        <ion-fab-button color="primary" (click)="buttonClicked('abs')">
            <ion-img src="assets/abs.png"></ion-img>
          </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

</ion-tabs>
