.welcome-msg {
    margin-top: 5rem;
    h1, p {
        color: white;
        text-align: center;
    }
    h1 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }
    p {
        font-size: 1.3rem;
    }
}

    


